body{
  margin: 0px;
}

#app-4 {
    margin-top: 90px;
}

.bigText {
  font-size: 80px;
}

.littleText {
  font-size: 40px;
}

.topTextContainer{
  margin-left: 10%;
  width: 80%;
}

#answerContainer{
  margin-left: 20%;
  width: 60%;
}

.navButton{
   width:50%;
   height: 100px;
   color:white;
   font-size:50px;
   font-family: sans-serif;
   text-align: center;
}

.buttonContainer{
  display:flex;
  justify-content: center;
  width: 100%;
/*  position:absolute; */
  bottom:0;
}
