<!doctype html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>

    <!-- Update on Integration-->
    <script src="../static/libs/vue.js"></script>
    <script src="../static/libs/jquery-3.2.1.js"></script>
    <link rel="stylesheet" href="../static/css/creator.css">

</head>

<body>

<div id="vueApp">

  <button v-on:click="saveSurvey">SAVE</button>

  <div id="surveyProperties">
    <div class="surveyPropertiesLine">
      <div style="width:25%">
        Survey Title
      </div>
      <input style="width:70%;margin-right:5%" type="text" v-model="survey.survey_title"></input>
    </div>
    <br>
    <div class="surveyPropertiesLine">
      <div style="width:25%">
        Text at Beginning of Survey
      </div>
      <input style="width:70%;margin-right:5%" type="text" v-model="survey.survey_properties.before_text"></input>
    </div>
    <div class="surveyPropertiesLine">
      <div style="width:25%">
        Text at End of Survey
      </div>
      <input style="width:70%;margin-right:5%" type="text" v-model="survey.survey_properties.after_text"></input>
    </div>
  </div>

    <div id="questionContainer">



        <div class="question" v-for="(question, qIndex) in survey.questions">
            <div class="questionTop">
                <div style="width:5%">
                    {{ qIndex + 1 }}
                </div>
                <div style="width:70%">
                    <div>Title:</div>
                    <input style="width:95%; margin-left:2.5%; color: white" type="text" v-model="question.text"></input>
                </div>
                <div style="width:25%">
                    <div>Question Type:</div>
                    <select style="width:95%; margin-left:2.5%" v-model="question.type">
                        <option v-for="type in questionTypes" v-bind:value="type.value">
                            {{ type.text }}
                        </option>
                    </select>
                </div>
                <button class="removeButton" v-on:click="deleteQuestion(qIndex)">X</button>
            </div>

            <div class="answerContainer" v-if="question.type != 'free-response'">
                <div class="answer">
                    <div style="width:5%"></div>
                    <div style="width:70%;margin-right:5%">Answer Text</div>
                    <div style="width:20%"> Export Value</div>
                </div>
                <div class="answer" v-for="(answer, aIndex) in question.answers">
                    <div style="width:5%">{{ aIndex + 1 }}</div>
                    <input style="width:70%;margin-right:5%" type="text" class="answerValueInput"
                           v-model="question.answers[aIndex].value"></input>
                    <input style="width:20%" type="text" class="answerDescriptionInput"
                           v-model="question.answers[aIndex].description"></input>
                           <button class="removeButton" v-on:click="deleteAnswer(qIndex, aIndex)">X</button>
                </div>
                <button class="addButton" v-on:click="addAnswer(qIndex)">+</button>
            </div>

            <div class="constraintContainer" v-if="question.type != 'free-response' && (qIndex + 1) != surveyLength">
                <div class="constraint">
                    <div style="width:5%"></div>
                    <div style="width:17.5%;margin-left:2.5%">Constraint Type</div>
                    <div style="width:17.5%;margin-left:2.5%">Constrained Question</div>
                    <div style="width:17.5%;margin-left:2.5%">Constraining Response</div>
                    <div style="width:17.5%;margin-left:2.5%">Discluded responses</div>
                </div>
                <div class="constraint" v-for="(constraint, cIndex) in question.constraints">
                    <div style="width:5%">{{ cIndex + 1 }}</div>
                    <div style="width:20%">
                      <select style="width:95%; margin-left:2.5%" v-model="question.constraints[cIndex].type">
                        <option v-for="type in constraintTypes" v-bind:value="type.value">
                          {{ type.text }}
                        </option>
                      </select>
                    </div>
                    <div style="width:20%">
                      <select style="width:95%; margin-left:2.5%" v-model="question.constraints[cIndex].question_to">
                        <option v-for="n in (surveyLength-(qIndex+1))" v-bind:value="n+(qIndex)">
                          {{ n+(qIndex+1)  }}
                        </option>
                      </select>
                    </div>
                    <div style="width:20%">
                      <select style="width:95%; margin-left:2.5%" v-model="question.constraints[cIndex].response_from">
                        <option v-for="(answer, aIndex) in question.answers" v-bind:value="aIndex">
                          {{ aIndex + 1 }}
                        </option>
                      </select>
                    </div>
                    <div v-if="constraint.type == 'modify'" style="width:20%">
                      <div v-if="constraint.question_to > 0">
                        <select multiple style="width:95%; margin-left:2.5%" v-model="question.constraints[cIndex].responses_discluded">
                            <option v-for="(answer, aIndex) in survey.questions[constraint.question_to].answers" v-bind:value="aIndex">
                              {{ aIndex + 1 }}
                            </option>
                        </select>
                      </div>
                      <div v-else>
                        Enter Constrained Question
                      </div>
                    </div>
                    <button class="removeButton" v-on:click="deleteConstraint(qIndex, cIndex)">X</button>
                </div>
                <button class="addButton" v-on:click="addConstraint(qIndex)">+</button>
            </div>

        </div>
    </div>

    <button class="addButton" v-on:click="addQuestion">+</button>
</div>

<script src="../static/js/creator.js"></script>

</body>
</html>
